<% var bgcolor = measure_loop.loop.escape('color') %>
<% var fgcolor = Dianthus.getForegroundColor(bgcolor) %>

<button type="button"
        class="btn btn-default destroy"
        style="background-color: <%= bgcolor %>; color: <%= fgcolor %>">
  <span class="glyphicon glyphicon-remove"></span>
</button>
<div class="btn btn-default measure-loop-title"
     style="background-color: <%= bgcolor %>; color: <%= fgcolor %>">
  <%= measure_loop.loop.escape('title') %>
</div>
<div class="btn-group">
  <button type="button"
          class="btn btn-default dropdown-toggle"
          data-toggle="dropdown"
          style="background-color: <%= bgcolor %>; color: <%= fgcolor %>">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" 
      role="menu"
      style="background-color: <%= bgcolor %>; color: <%= fgcolor %>">
    <li><a>Acoustic Grand Piano</a></li>
    <li><a>Synth Drums</a></li>
  </ul>
</div>