<% var bgcolor = measure_loop.loop.escape('color') %>

<button type="button"
        class="btn btn-default destroy"
        style="background-color: <%= bgcolor %>"
        >
  <span class="glyphicon glyphicon-remove"></span>
</button>
<div class="btn btn-default measure-loop-title"
     style="background-color: <%= bgcolor %>"
     >
  <%= measure_loop.loop.escape('title') %>
</div>
<div class="btn-group">
  <button type="button"
          class="btn btn-default dropdown-toggle"
          data-toggle="dropdown"
          style="background-color: <%= bgcolor %>"
          >
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu instrument"
      role="menu"
      style="background-color: <%= bgcolor %>"
      >
    <li><a value="0">Acoustic Grand Piano</a></li>
    <li><a value="118">Synth Drums</a></li>
  </ul>
</div>